// Base Typography

html {
    font-family: "Proxima Nova, sans-serif";
    font-size: 12px;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 20px;
}

// Base Colors

$main-dark: #1C1C1C;
$blue: #f54141;
$red: #706bff;

//